# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Envs
.env
*.env
.venv/
venv/
ENV/
env/

# Build & packaging
build/
dist/
*.egg-info/
.eggs/

# Log & cache
*.log
*.bin
msal_cache*
.cache/
.pytest_cache/
.coverage
htmlcov/

# Flask instance folder
instance/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dati locali
*.xlsx
voucher-clienti.xlsx
azure-info-app.txt

# Database locali
*.sqlite
*.sqlite3

# Varie
*.bak

templates/*Copia*.html
templates/*BKP*.html

