<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controlla Voucher</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="static/logo.png" alt="John Barber Logo" class="logo">
    
    <div class="container">
        <h1>Controlla Voucher / Gift Card</h1>
        <form method="post" action="/">
          <input type="text" name="numero" placeholder="Inserisci numero Voucher o Gift" class="input-home">
          <button type="submit">Cerca</button>
        </form>

        {% if errore %}
          <p style="color: red; margin-top: 10px;">{{ errore }}</p>
        {% endif %}
    </div>

    <!-- Footer spostato sotto, fuori dal box grigio -->
    <footer>
        <p>JOHN BARBER SRLS<br>
        Via Domodossola 17 – 20145 Milano<br>
        P.I. 12691510965</p>
        <p>Copyright © 2023 John Barber Milano – Tutti i diritti riservati</p>
    </footer>
</body>
</html>
